@import 'tailwindcss';
@import './theme.css';
@import './typography.css';

:root {
  --background: #ffffff;
  --text-normal: #4c4c4c;
  --text-strong: #111827;
  --text-neutral: #46474b;
  --text-sub: #6b7280;
  --text-light: #9ca3af;
  --hover: #11182708;
}

html[data-color-scheme='dark'] {
  --background: #121212;
  --text-normal: #e5e5e5;
  --text-strong: #ffffff;
  --text-neutral: #cfcfcf;
  --text-sub: #a0a0a0;
  --text-light: #6f6f6f;
  --hover: #ffffff08;
}

body {
  background: var(--background);
  color: var(--text-normal);
  font-family: var(--font-display);
}
